///////////////////////////////////////
// CONTAINER
.container {
  background-color: var(--color-white);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;

  /////////////////////////////////////
  //MOBILE VIEW NAV
  .mobile-view-nav {
    display: none;
    width: 80%;
    margin: 0 auto;
  }

  //////////////////////////////////////
  //SIDE NAV
  & .side-nav {
    background-color: inherit;
    flex: 0 0 15%;
    min-height: 100vh;
    padding: 0 2% 4% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  /////////////////////////////////////
  //CONTENT
  & .content {
    background-color: inherit;
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 4% 0%;
  }
}

//////////////////////////////////////
//MEDIA QUERY
@media only screen and (max-width: 414px) {
  ///////////////////////////////////////
  // CONTAINER
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    /////////////////////////////////////
    //MOBILE VIEW NAV
    .mobile-view-nav {
      display: block;
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    //////////////////////////////////////
    //SIDE NAV
    & .side-nav {
      position: absolute;
      z-index: 10;
      top: 0;
      left: -300rem; //Change happen here
      width: 100%;
      min-height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: all 1s ease;
    }

    .side-nav-show {
      top: 0;
      left: 0;
    }

    /////////////////////////////////////
    //CONTENT
    & .content {
      background-color: inherit;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 5rem;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}
