:root {
  --Primary-color: #eb504d;
  --Primary-secondary: #d44a47;
  --Secondary-color: #847e7e
  --Ternary-color: #020202;

  --color-white: #fafafa;

  --Shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  --Hover-shadow: rgba(50, 50, 95, 0.25) 0px 30px 65px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 40px -18px;
  --Headline-font: "Abril Fatface", cursive;
  --Paragraph-font: "Noto Sans JP", sans-serif;
  --link-color: #5d5757;
}
